<div class="row">
  <div class="col-md-6">
  <%= form_for @flower, url: type_flowers_path do |f|%>

    <div class="required">

      <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
        <div class="controls">
        <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="control-group">
      <%= f.label :description, class: 'control-label' %>
        <div class="controls">
        <%= f.text_field :description, class: 'form-control' %>
        </div>
      </div>
      <div class="control-group">
      <%= f.label :price, class: 'control-label' %>
        <div class="controls">
        <%= f.text_field :price, class: 'form-control' %>
        </div>
      </div>
      <div class="control-group">
      <%= f.label :quantity, class: 'control-label' %>
        <div class="controls">
        <%= f.text_field :quantity, class: 'form-control' %>
        </div>
      </div>
      <div class="control-group">
      <%= f.label :flower_photo, class: 'control-label' %>
        <div class="controls">
        <%= f.file_field :flower_photo %>
        </div>
      </div>
      <p></p>

      <% all_types.each do |t| %>
        <div>
        <%= check_box_tag "flower[type_ids][]", t.id, @flower.types.include?(t) %>
        <%= t.name %>
        </div>
      <% end %>

    </div>

    <%= f.submit nil, class: "btn btn-success" %>
  <% end %>

  </div>
</div>