<h2 class="f-login-text">Log in</h2>

<div class="row">
  <div class="f-login">
    <%= form_for(:user, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <p></p>
      <%= f.submit "Log in", class: "btn btn-success" %>
    <% end %>

    <p>Are you a new user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
